<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Angular SPA routing: send all non-file requests to index.html -->
    <rewrite>
      <rules>
        <rule name="Angular SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile"      negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory"  negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Correct MIME types for modern JS modules and fonts -->
    <staticContent>
      <remove fileExtension=".js"   />
      <remove fileExtension=".mjs"  />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".js"    mimeType="application/javascript" />
      <mimeMap fileExtension=".mjs"   mimeType="application/javascript" />
      <mimeMap fileExtension=".json"  mimeType="application/json"       />
      <mimeMap fileExtension=".woff"  mimeType="font/woff"              />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"             />
    </staticContent>

    <!-- Enable gzip compression for text assets -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json"       enabled="true" />
        <add mimeType="text/css"               enabled="true" />
        <add mimeType="text/html"              enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json"       enabled="true" />
        <add mimeType="text/css"               enabled="true" />
        <add mimeType="text/html"              enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Cache static hashed assets for 1 year; index.html no-cache -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options"        value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>
